
  

body{ 
  text-align: center
  background-image:url("https://wallpaper.dog/large/20501835.jpg");
}

h1 { 
  text-alg:center;
  color: #FFFFFF ;
  border: 5px solid #FF4EB ;
  font-size: 43px ;
  
}
p { 
  text-align:center;
  color: #FFFFFF ;
  border: 5px solid #FF4EB ;
  font-size: 35px ;
}
#container { 
  background-color: #000000; 
  width: 800px;
  padding: 1em;
  justify-content: center ; 
}
