html { 
  background: #FFD785 ;}

body{ 
  text-align: center ;}

h1 { 
  color: #7A0016 ;
  border: 5px solid #FF4EB ;
  height: 200px ;
}
title { 
  color: #7A0016 ;
  border: 10px solid #FF4EB ;
  height: 300px ;
}
