html 
  

body{ 
  text-align: center
  background-image: url("https://wallpaper.dog/large/20501835.jpg") ;
}

h1 { 
  color: #7A0016 ;
  border: 5px solid #FF4EB ;
  font-size: 43px ;
  text-align: center ; 
  align: center ; 
}
p { 
  color: #FFFFFF ;
  border: 5px solid #FF4EB ;
  font-size: 35px ;
}
title { 
  color: #7A0016 ;
  border: 10px solid #FF4EB ;
 font-size: 50px ;
}
